.about {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    padding: 1rem;
    gap: 1rem;

    .about-content {
        p {
            margin-top: 0.5rem;
        }
    }

    .about-figure {
        width: 100%;

        .about-figure-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            /* max-width: 100%; */

            .about-figure-img {
                max-height: 40vh;
                max-width: 90vw;
                object-fit: contain;
            }

            .about-figure-credits {
                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
