.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-nav);
    padding: 0.5rem 1rem;
    height: 4rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    max-width: 720px;

    #header-title {
        width: max-content;
        color: var(--color-background);
    }

    #header-title:hover {
        color: var(--color-hover);
    }
}
