.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    .home-figure {
        display: flex;
        flex-direction: column;
        align-items: center;

        .home-figure-img {
            max-height: 50vh;
            width: 100%;
            object-fit: contain;
        }

        .home-figure-credits {
            align-self: flex-start;
            font-size: 0.8rem;
        }
    }

    .home-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media (min-width: 720px) {
    .home {
        .home-text {
            flex-direction: row;
            gap: 4rem;
            margin-top: 0.5rem;
        }
    }
}
