@import url("./about.css");
@import url("./app.css");
@import url("./contact.css");
@import url("./error.css");
@import url("./header.css");
@import url("./home.css");
@import url("./nav.css");
@import url("./navlist.css");
@import url("./notfound.css");
@import url("./projects.css");

@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
/* <weight>: Use a value from 400 to 800 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    --color-background: #f0f0f0;
    --color-gradient-dark: #b8ced8;
    --color-hover: rgb(255, 255, 166);
    --color-nav: rgb(70, 70, 70);
    --color-nav-transparent: rgb(70, 70, 70, 0.9);
}

body {
    font-family: "sen", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    width: 100vw;
    display: flex;
    justify-content: center;

    a,
    h2,
    h3,
    h4,
    p {
        color: var(--color-nav);
    }

    a:hover {
        color: var(--color-hover);
    }

    button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
    }

    #root {
        display: flex;
        width: 100vw;
        /* max-width: 720px; */
        max-width: 1080px;
        background-image: linear-gradient(
            160deg,
            var(--color-background),
            var(--color-gradient-dark)
        );
        min-height: 100vh;
        /* margin-right: 2rem; */
    }
}
