.nav-list-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    li {
        a {
            color: var(--color-background);
            font-size: 1.3rem;
        }
    }
}

@media (min-width: 720px) {
    .nav-list-items {
        flex-direction: row;
    }
}
