.projects {
    display: flex;
    /* justify-content: center; */
    padding: 1rem;
    /* width: 100%; */

    .projects-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .projects-cards {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            width: 100%;

            .card {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                border-bottom: 2px solid var(--color-nav-transparent);
                width: 100%;

                .card-article {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.3rem;
                    padding-bottom: 0.5rem;

                    .card-location-date {
                        display: flex;
                        flex-direction: row;
                        font-style: italic;

                        .card-location-detail::after {
                            content: ", ";
                            white-space: pre;
                        }

                        .card-date-detail::after {
                            content: ".";
                        }
                    }
                }
                .card-figure {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;

                    .card-img {
                        max-width: 60%;
                        max-height: 20vh;
                        object-fit: contain;
                    }

                    .card-img-credits {
                        p {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        .projects-title {
            align-self: flex-start;
            margin-bottom: 0.3rem;
        }
    }
}

@media (min-width: 720px) {
    .projects {
        .projects-content {
            .projects-cards {
                .card {
                    flex-direction: row;
                    gap: 0.5rem;

                    .card-article {
                        width: 70%;
                    }

                    .card-figure {
                        width: 30%;

                        .card-img {
                            max-width: 100%;
                            max-height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}
